<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="android.app.NativeActivity">
        <meta-data
            android:name="pvr.app.type"
            android:value="vr" />
        <meta-data
            android:name="pvr.display.orientation"
            android:value="180" />
        </activity>
    </application>
</manifest>
